td(id="user_"+id)
  .mffs_friend(data-id=id, class=(followed ? "followed" : ""))
    img.friend_pp(src=pic_url)
    span.mffs_user= username
    span.mffs_level= level

    .mffs_detail
      button.pill-btn.red-btn.unfollow(data-userid=username) Unfollow
      ul
        li
          a(href="/profile/" + username + '/')
            strong= username
            em 
              | (#{level})

        li.info!= info
      textarea(maxlength=500, cols=27, rows=5)
      button.pill-btn.munsell-blue-btn.post-btn Post
  p.proppables Loading… 